body{
  display: none;
  font-family: 'Roboto', sans-serif !important;
}

/* Adding a background image to the container */
.site-background {
  background: url("../images/background.png");
  background-color: black;
  background-size: auto;
}

/* Black background */
.dark-background {
  background-color: black;
}

/* To prevent scrollbar from appearing */
.noscroll {
  overflow: hidden;
}

/* Styling the comparator bar and its children */
#home-page .error-message {
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

/* Styling the footer components */
#home-page .footer {
  position: absolute !important;
  background-color: black;
}

.footer {
  position: relative !important;
  width: 100%;
  bottom: 0;
  opacity: 0.6;
}

.footer .image {
  left:50%;
  transform: translateX(-50%);
}

.footer .image img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.footer .container{
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
}

/* Creates a translucent black container behind main div */
#ghost-container {
  position: fixed !important;
  display: none;
  background-color: black;
  z-index: 0;
  opacity: 0.4;
  width: 100% !important;
}

/* Styling for the particle background on the homepage */
.pg-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* General class for top margins */
.marginTop30 {
  margin-top: 30px !important;
}

/* General class for center alignment */
.centerAlignedText {
  text-align: center !important;
}

/* General class to give gradient background */
.gradientColor {
  background: linear-gradient(to top right, #4C83FF, #2AFADF) !important;
}

/* General class to give a dark gradient background */
.darkGradientColor {
  background: linear-gradient(to bottom right, #f2f2f2, #c4c4c4) !important; 
}

.card .image {
  overflow: hidden;
}

.card .image img {

}

/* Class for vertically centering main container */
#main-container {
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  padding: 30px;
}

#error-message{
  position: fixed;
}

/* Style to justify card descriptions */
.card .content .description {
  text-align: justify;
}

/* To felx cards vertically to match height */
.flexibleCards .column{
  display: flex !important;
  flex-grow: 0 !important;
}

/* To felx cards vertically to match height */
.flexibleCards .column .card{
  display: flex !important;
  margin-bottom: 30px !important;
}

/* Thumb mouse over logo */
.logo {
  cursor: pointer;
}

/* Class to force hide elements */
.hiddenUnit {
  display: none !important;
}

/* Make the filter button float right */
.filters button {
  float: right;
}

#filters-controls .input {
  float: right;
  width: 150px;
}

#filters-controls i {
  cursor: pointer;
}


/* Styling the comparator bar and its children */
#comparator-bar {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  background-color: #464a55;
}

#comparator-bar h4 {
  display: inline-block;
  line-height: 1em;
  padding: 0.7em;
  font-size:1em;
  margin-bottom: 0px;
}

#comparator-bar span {
  line-height: 1em;
  margin-bottom: 0px;
  vertical-align: middle;
  font-size:1em;
  padding: 0.7em;
}

#comparator-bar button {
  padding: 0.7em;
  font-size:1em;
  margin-left: 30px;
}

#results-page #comparator-bar h4 {
  float: none !important;
  display: block !important;
  padding-left:2px;
}

#results-page .zero-results {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

#results-page .zero-results-Text {
  width: 100%;
  opacity: 0.3;
}

.error-message {
  width: 100%;
  margin-bottom: 0;
  background-color: #9b2b2b;
  text-align: center;
  font-size: 1.1em;
  color: white;
  line-height: 40px;
}

.filter-error-message {
  width: 100%;
  margin-bottom: 0;
  background-color: #9b2b2b;
  text-align: center;
  font-size: 1.1em;
  color: white;
  line-height: 40px;
}

.dynamic {
  height: auto !important;
}

/* Controlling the height of the number of results header */
.resultsLine{
  margin-bottom: 0 !important;
  line-height: 32px !important;
  color: lightgray !important;
}

/* Styling the masthead breadcrumb chevron on the movie details page */
.invertedColors .breadcrumb .chevron {
  color: white !important;
  opacity: 1 !important;
}

/* Styling the masthead breadcrumbs on the movie details page */
.invertedColors .breadcrumb a {
  color: #2AFADF;
}

/* Styling the animation on click of compare */
.ui-effects-transfer { 
  border: 2px dotted grey;
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  z-index: 9998;
}

/* Styling the masthead hero image on the movie details page (Blurred Effect) */
#masthead-content {
  margin-top: 0 !important;
  padding-top: 30px !important;
}

.masthead-image {
  background-size: cover !important;
}

/* Styling the masthead container on the movie details page */
.masthead {
  background: transparent !important;
  -moz-box-shadow: inset 0 0 60px #000000 !important;
  -webkit-box-shadow: inset 0 0 60px #000000 !important;
  box-shadow: inset 0 0 60px #000000 !important;
}

/* Styling the masthead breadcrumb chevron on the movie details page */
.masthead .breadcrumb .chevron {
  color: white !important;
  opacity: 1 !important;
}

/* Styling the masthead breadcrumbs on the movie details page */
.masthead .breadcrumb a {
  color: #2AFADF;
}

/* Setting the shadow of the details sections */
.detailsRaisedRow {
  box-shadow: 0px 0px 10px rgb(0,0,0,.2);
  border-radius: 5px;
  background-color: white;
}

/* Generic style class to make elements inline-block */
.inlineBlock {
  display: inline-block !important;
}

/* Gives a left margin of 15px */
.marginLeft15{
  margin-left: 15px !important;
}

/* Gives a left margin of 20px */
.marginLeft20 {
  margin-left: 20px !important;
}

/* Forece white colored text */
.whiteText {
  color: white !important;
}

/* Force width of cards in cast */
.cast .card {
  /*width: calc((100% - 58px) / 4) !important; */
}

/* Styling the cast card headers */
.cast .card .header {
  font-size: 16px !important;
}

/* Styling the cast card meta info */
.cast .card .meta {
  font-size: 14px !important;
  margin-top:5px !important;
}

/* Styling the rating icon */
.ratingIcon {
  height: auto !important;
  width: auto !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding: 5px 15px !important;
}

/* Styling the cast cards on the compare page */
.comparing .cast .card {
  width: calc((100% - 41px) / 4) !important; 
}

/* Styling the cast card images on the compare page */
.comparing .cast .card .image{
  margin-right: 0px !important;
}

/* Styling the cast card headers on the compare page */
.comparing .cast .card .header{
  font-size: 13px !important;
}

/* Increasing the size of the movie headers within cards */
.comparing .mainCards > .header:first-child{
  font-size: 25px !important;
}

.genres p {
  margin-right: 2px !important;
  margin-bottom: 0px !important;
  margin-top: 2px !important;
}

#details-page .ui .progress {
  background: rgba(255,255, 255,0.3);
}

#details-page .progress .label {
  color: white;
}

/* Fixed position headers */
.fixedPos {
  position: fixed;
  top: 0;
  z-index: 999;
  line-height: 30px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 5px;
  height: auto !important;
}
/* -------------- -------------- -------------- --------- */
/* -------------- Responsive design styles -------------- */
/* -------------- -------------- -------------- --------- */
@media screen and (max-width: 600px) { /*  MOBILE DEVICE  */
  .logo img {
    height: 40px !important;
    display: inline-block !important;
    margin: 0 !important;
  }
  .logo div{
    width: auto !important;
  }
  .breadcrumb a {
    margin-bottom: 10px !important;
  }
  /* -------------- Home page responsive -------------- */
  #home-page-logo img{
    height: 100px !important;
  }
  #home-page #main-container {
    padding: 10px !important;
  }
  #home-page-logo-text img {
    height: 60px !important;
  }
  #home-page h3{
    font-size: 15px;
  }
  #home-page #search{
    padding: 0px !important;
  }
  #search-form input, button{
    font-size: 1rem !important;
  }
  /* -------------- Results Page responsive -------------- */
  #results-page h3 {
    font-size: 15px;
  }
  #results-page .flexibleCards .column {
    padding: 5px;
  }
  #results-page .flexibleCards .button {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #results-page .flexibleCards .button .visible {
    margin-right: 0px !important;
    font-size: 12px;
  }
  #results-page .doubling {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 50px;
  }
  #results-page #comparator-bar {
    width: 100% !important;
  }
  /* -------------- Compare page responsive -------------- */
  #compare-page #scroll-to-comparison {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #compare-page h3 {
    font-size: 15px;
  }
  #compare-page #comparison{
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  #compare-page #comparison .first{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  #compare-page #comparison .second{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  /* -------------- Details page responsive -------------- */
  #details-page #main {
    padding-top: 0px !important;
  }
  #details-page #scroll-to-details {
    display: none;
  }
  #details-page .detailsRaisedRow {
    padding: 10px;
  }
  #details-page .masthead-image {
    transform: scale(1) !important;
    width: 100% !important;
  }
  #details-page #poster {
    margin-right: 0px;
    width: 100%;
  }
  #details-page #details-content {
    margin-top: 0px !important;
  }
  #details-page .mobileAdjustment {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  #details-page .card .image img {
    height: 251.25px;
    width: auto;
  }
  #home-page .footer {
    z-index: -1 !important;
  }
}
/* Tablet specific */
@media (min-width: 768px) and (max-width: 1024px) {
  #details-page .card .image img {
    height: 521.25px;
    width: auto;
  }
  #results-page .column .card {
    height: 100%;
  }
   #compare-page #scroll-to-comparison {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}